<div class="container-xxl bg-light p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar & Hero Start -->
    <section class="container-xxl position-relative p-0">
        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="mask d-flex align-items-center px-5">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4 class="fs-1 mb-3 text-white lh-1 fw-bold letter-spacing-1">
                                        Present your <br />awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui
                                        blanditiis quidem rerum <br />necessitatibus praesentium
                                        voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1">
                                    <img src="~/images/OnboardingImage/pic1.jpg" class="mx-auto" alt="slide" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">
                    <div class="mask d-flex align-items-center w-100 px-5">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4 class="fs-1 mb-3 text-white lh-1 fw-bold letter-spacing-1">
                                        Present your <br />awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui
                                        blanditiis quidem rerum <br />necessitatibus praesentium
                                        voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1">
                                    <img src="~/images/OnboardingImage/pic-2.jpg" class="mx-auto" alt="slide" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item active">
                    <div class="mask d-flex align-items-center w-100 px-5">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-7 col-12 order-md-1 order-2">
                                    <h4 class="fs-1 mb-3 text-white lh-1 fw-bold letter-spacing-1">
                                        Present your <br />awesome product
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet. Reprehenderit, qui
                                        blanditiis quidem rerum <br />necessitatibus praesentium
                                        voluptatum deleniti atque corrupti.
                                    </p>
                                    <a href="#">BUY NOW</a>
                                </div>
                                <div class="col-md-5 col-12 order-md-2 order-1">
                                    <img src="~/images/OnboardingImage/pic-4.jpg" class="mx-auto" alt="slide" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Controls -->
            <a class="carousel-control-prev rounded-circle" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next rounded-circle" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </section>
    <!-- Navbar & Hero End -->
    <!-- Service Start -->
    <section class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                            <h5>Master Chefs</h5>
                            <p>
                                Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita
                                amet diam
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                            <h5>Quality Food</h5>
                            <p>
                                Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita
                                amet diam
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                            <h5>Online Order</h5>
                            <p>
                                Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita
                                amet diam
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item rounded pt-3">
                        <div class="p-4">
                            <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                            <h5>24/7 Service</h5>
                            <p>
                                Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita
                                amet diam
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service End -->
    <!-- About Start -->
    <section class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s"
                                 src="~/images/OnboardingImage/about-1.jpg" />
                        </div>
                        <div class="col-6 text-start">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s"
                                 src="~/images/OnboardingImage/about-2.jpg" style="margin-top: 25%" />
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s"
                                 src="~/images/OnboardingImage/about-3.jpg" />
                        </div>
                        <div class="col-6 text-end">
                            <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s"
                                 src="~/images/OnboardingImage/about-4.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5 class="section-title ff-secondary text-start text-primary fw-normal">
                        About Us
                    </h5>
                    <h1 class="mb-4">
                        Welcome to
                        <i class="fa fa-utensils text-primary me-2"></i>Restoran
                    </h1>
                    <p class="mb-4">
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                        Aliqu diam amet diam et eos erat ipsum et lorem et sit, sed stet
                        lorem sit.
                    </p>
                    <p class="mb-4">
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit.
                        Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit,
                        sed stet lorem sit clita duo justo magna dolore erat amet
                    </p>
                    <div class="row g-4 mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                    15
                                </h1>
                                <div class="ps-4">
                                    <p class="mb-0">Years of</p>
                                    <h6 class="text-uppercase mb-0">Experience</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">
                                    50
                                </h1>
                                <div class="ps-4">
                                    <p class="mb-0">Popular</p>
                                    <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->
    <!-- Menu Start -->
    <section class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="section-title ff-secondary text-center text-primary fw-normal">
                    Food Menu
                </h5>
                <h1 class="mb-5">Most Popular Items</h1>
            </div>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                           href="#tab-1">
                            <i class="fa fa-coffee fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Popular</small>
                                <h6 class="mt-n1 mb-0">Breakfast</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill"
                           href="#tab-2">
                            <i class="fa fa-hamburger fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Special</small>
                                <h6 class="mt-n1 mb-0">Launch</h6>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill"
                           href="#tab-3">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                            <div class="ps-3">
                                <small class="text-body">Lovely</small>
                                <h6 class="mt-n1 mb-0">Dinner</h6>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-1.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-2.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-3.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-4.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-5.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-6.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-7.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-8.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-1.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-2.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-3.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-4.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-5.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-6.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-7.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-8.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane fade show p-0">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-1.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-2.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-3.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-4.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-5.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-6.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-7.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" src="~/images/OnboardingImage/menu-8.jpg" alt=""
                                         style="width: 80px" />
                                    <div class="w-100 d-flex flex-column text-start ps-4">
                                        <h5 class="d-flex justify-content-between border-bottom pb-2">
                                            <span>Chicken Burger</span>
                                            <span class="text-primary">$115</span>
                                        </h5>
                                        <small class="fst-italic">
                                            Ipsum ipsum clita erat amet dolor justo
                                            diam
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Menu End -->
    <!-- gallery -->
    <section class="container py-5 mt-4">
        <div class="text-center"><h5>Shop by Category</h5></div>
        <div class="row row-cols-2 row-cols-md-4 g-4">

            <!-- Column 1 -->
            <div class="col">
                <div class="d-flex flex-column gap-3">
                    <a href="https://example.com/1" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodone.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 1</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/2" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodtwo.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 2</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/3" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodthree.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 3</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Column 2 -->
            <div class="col">
                <div class="d-flex flex-column gap-3">
                    <a href="https://example.com/4" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodthree.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 4</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/5" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodtwo.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 5</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/6" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodone.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 6</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Column 3 -->
            <div class="col">
                <div class="d-flex flex-column gap-3">
                    <a href="https://example.com/4" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodthree.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 4</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/5" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodtwo.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 5</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/6" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodone.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 6</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Column 4 -->
            <div class="col">
                <div class="d-flex flex-column gap-3">
                    <a href="https://example.com/1" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodone.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 1</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/2" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodtwo.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 2</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://example.com/3" class="hover-wrapper">
                        <img src="~/images/OnboardingImage/foodthree.jpg" class="img-fluid rounded" alt="">
                        <div class="overlay-info">
                            <div class="info-content">
                                <h6>Image 3</h6>
                                <p>Description here</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </section>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>


@section Styles{
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/onboarding/onboarding.css" rel="stylesheet" />

}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

	<script src="~/js/onboarding/onboarding.js"></script>

}