@using OrderFood.PL.Areas.Customer.Models
@model CheckoutVM


<div class="col-md-5 col-lg-4 order-md-last">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">3</span>
    </h4>


    <ul class="list-group mb-3">

        @foreach (var item in Model.CartItems)
       {
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">Product name: </h6>
                <small class="text-body-secondary">@item.Meal.Name</small>
            </div>
            <span class="text-body-secondary">$@item.Meal.Price</span>
        </li>

        }

        <input type="hidden" name="CouponId" id="coupon-id" value="@Model.CouponId" />


        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0 text-danger">Delivery Fee</h6>
            </div>
            <span class="text-danger">+$5</span>
        </li>

        <!-- Discount-->
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary" id="promo-display" style="display: none;">
            <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small id="promo-label"></small>
            </div>
            <span class="text-success" id="promo-discount">−$0</span>
        </li>


        @* <li class="list-group-item d-flex justify-content-between bg-body-tertiary" id="promo-display" style="display:none;"> *@
        @*     <div class="text-success"> *@
        @*         <h6 class="my-0">Promo code</h6> *@
        @*         <small id="promo-label"></small> *@
        @*     </div> *@
        @*     <span class="text-success" id="promo-discount">−$20</span> *@
        @* </li> *@

        <!-- Total -->
        <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong id="checkout-total">$@Model.Total</strong>
        </li>
    </ul>

    <form class="card p-2" id="coupon-form">
        <div class="input-group">
            <input type="text" class="form-control" id="coupon-code" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
    </form>

</div>

