@using OrderFood.DAL.Entities.User
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    .nav-link-custom {
        color: #000 !important; 
    }

        .nav-link-custom:hover {
            color: #000 !important;
        }

    .active-warning {
        background-color: #ffc107 !important; 
        color: #000 !important; 
        border-radius: 0.375rem; 
    }

</style>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link nav-link-custom @(ManageNavPages.IndexNavClass(ViewContext) == "active" ? "active-warning" : "")"
           id="profile" asp-page="./Index">Profile</a>
    </li>

    <li class="nav-item">
        <a class="nav-link nav-link-custom @(ManageNavPages.ChangePasswordNavClass(ViewContext) == "active" ? "active-warning" : "")"
           id="change-password" asp-page="./ChangePassword">Password</a>
    </li>

    @if (hasExternalLogins)
    {
        @* External login can be added the same way if needed *@
    }
</ul>

@section Styles {
    <link href="~/css/usersetting/usersetting.css" rel="stylesheet" />
}
