<footer class="pt-5 pb-4" style="background-color:#f5f5f5; color:#545454;">
    <div class="container">
        <div class="row g-4">
            <!-- Company Info -->
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase mb-4" style="color:#FFC107;">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none d-block py-1" style="color:#545454;" onmouseover="this.style.color='#FFC107'" onmouseout="this.style.color='#545454'">About Us</a></li>
                    <li><a href="#" class="text-decoration-none d-block py-1" style="color:#545454;" onmouseover="this.style.color='#FFC107'" onmouseout="this.style.color='#545454'">Contact Us</a></li>
                    <li><a href="#" class="text-decoration-none d-block py-1" style="color:#545454;" onmouseover="this.style.color='#FFC107'" onmouseout="this.style.color='#545454'">Reservation</a></li>
                    <li><a href="#" class="text-decoration-none d-block py-1" style="color:#545454;" onmouseover="this.style.color='#FFC107'" onmouseout="this.style.color='#545454'">Privacy Policy</a></li>
                    <li><a href="#" class="text-decoration-none d-block py-1" style="color:#545454;" onmouseover="this.style.color='#FFC107'" onmouseout="this.style.color='#545454'">Terms & Conditions</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase mb-4" style="color:#FFC107;">Contact</h5>

                <p class="mb-2 handel-margin d-flex align-items-center small">
                    <i class="fa fa-map-marker-alt me-2 fs-6" style="width: 20px;"></i>ITI Smart Village, Egypt
                </p>

                <p class="mb-2 d-flex handel-margin align-items-center small">
                    <i class="fa fa-phone-alt me-2 fs-6" style="width: 20px;"></i>+01015796237
                </p>

                <p class="mb-3 d-flex handel-margin align-items-center small">
                    <i class="fa fa-envelope me-2 fs-6" style="width: 20px;"></i>FoodMart@gmail.com
                </p>

                <div class="d-flex justify-content-start">
                    <a href="#" class="btn btn-outline-light btn-sm rounded-circle me-2 icon-hover d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">
                        <i class="fab fa-facebook-f fs-6 m-2"></i>
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm rounded-circle me-2 icon-hover d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">
                        <i class="fab fa-youtube  fs-6 m-2"></i>
                    </a>
                    <a href="#" class="btn btn-outline-light btn-sm rounded-circle icon-hover d-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">
                        <i class="fab fa-linkedin-in fs-6 m-2"></i>
                    </a>
                </div>
            </div>


            <!-- Opening Hours -->
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase mb-4" style="color:#FFC107;">Opening Hours</h5>
                <ul class="list-unstyled">
                    <li class="mb-3">
                        <strong>Saturday - Thursday:</strong><br>09:00 AM - 09:00 PM
                    </li>
                    <li>
                        <strong>Friday:</strong><br>10:00 AM - 08:00 PM
                    </li>
                </ul>
            </div>

            <!-- Newsletter -->
            <div class="col-lg-3 col-md-6">
                <h5 class="text-uppercase mb-4" style="color:#FFC107;">Newsletter</h5>
                <p class="mb-3">Register to get the latest updates and offers.</p>
            </div>
        </div>

        <!-- Copyright -->
        <hr class="mt-5" style="border-color: #ccc;">
        <div class="row">
            <div class="col text-center">
                <p class="mb-0 text-muted">&copy; 2025 <a href="#" class="text-decoration-none" style="color:#FFC107">Food Mart</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Custom CSS for Icon Hover -->
<style>
    .icon-hover {
        border-color: #545454;
        color: #545454;
        transition: 0.3s;
        margin: 10px 3px !important;
    
    }

        .icon-hover:hover {
            background-color: #FFC107;
            color: white !important;
            border-color: #FFC107;
        }

    .handel-margin{
        margin: 0px !important;
    }
</style>
