<!DOCTYPE html>
<html lang="en">
<head>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    @* --This is global Layout css For Layout-- *@
    <link rel="stylesheet" href="~/css/globalLayout/globalLayout.css" />

    @* ---Bootstrap File---- *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*-- This layout for Navbar-- *@
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/navbars/navbar-3/assets/css/navbar-3.css">
    @* --The Global Site Css --*@
    <link href="~/css/site.css" rel="stylesheet" />
    @* --Render The special Styles and Script Sections for Each Rendered Page-- *@
    @RenderSection("Styles", false)
	
</head>
<body>
    <section class="ALL-HomePage ">

        <section class="home flex">
            <div class="">
                <!-- Header -->
                <partial name="_Navbar" />
                <!-- end header -->
                <!--  Asidebar -->
                  @if (User.Identity.IsAuthenticated)  
                  {  
                     <partial name="_Sidebar" /> 
                  }

                <!-- end sidebar -->
                <!-- Main -->
                <section id="main-demo" class="" style="">

                    @RenderBody()
                </section>
                <!--end Main -->
                <!-- footer -->
                <partial name="_Footer" />

                <!-- end footer -->

            </div>
        </section>
    </section>


    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script> 
     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="~/js/globalLayout/globalLayout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
