

<section class="sidebar">
    <div class="nav-header">
        <p class="logo">FoodMart</p>
        <i class="bx bx-menu btn-menu"></i>
    </div>
    @if (User.IsInRole("Customer"))
    {
      <ul class="nav-links">

            <li>
                <a asp-area="Customer" asp-action="CustomerHomeAllResturant" asp-controller="Customer">
                    <i class="bx bx-home-alt-2"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a asp-area="Customer" asp-action="GetCustomerOrder" asp-controller="Orders">
                    <i class="bi bi-card-list"></i>
                    <span class="title">Food Order</span>
                </a>
                <span class="tooltip">Food Order</span>
            </li>
            <li>
                <a asp-area="Customer" asp-controller="Customer" asp-action="OrdersListDetails">
                    <i class="bi bi-clock-history"></i>
                    <span class="title">Bills</span>
                </a>
                <span class="tooltip">Bills</span>
            </li>

            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bx bx-cog"></i>
                    <span class="title">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
            </li>

      </ul>

    }


    @if (User.IsInRole("Owner"))
    {
        <ul class="nav-links">
            <li>
                <a asp-area="Resturant" asp-action="GetMenu" asp-controller="Restaurants" >
                    <i class="bx bx-home-alt-2"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>

            <li>
                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="bi bi-person"></i>
                    <span class="title">Profile</span>
                </a>
                <span class="tooltip">Profile</span>
            </li>
            
            <li>
                <a asp-area="Resturant" asp-action="GetRestOrders" asp-controller="Restaurants">
                    <i class="bi bi-card-list"></i>
                    <span class="title">Orders</span>
                </a>
                <span class="tooltip">Orders</span>
            </li>
            <li>
                <a asp-area="Resturant" asp-action="GetReviews" asp-controller="Restaurants">
                    <i class="bi bi-star"></i>
                    <span class="title">Reviews</span>
                </a>
                <span class="tooltip">Reviews</span>
            </li>
            <li>
                <a asp-area="Resturant" asp-action="Settings" asp-controller="Restaurants"`>
                    <i class="bi bi-shop"></i>
                    <span class="title">Resturant Profile</span>
                </a>
                <span class="tooltip">Resturant Profile</span>
            </li>

        </ul>

    }


    @if (User.IsInRole("Delivery"))
    {
        <ul class="nav-links">

            <li>
                <a href="#">
                    <i class="bx bx-home-alt-2"></i>
                    <span class="title">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a asp-area="Delivery" asp-action="PreparedOrders" asp-controller="Delivery">
                    <i class="bi bi-truck"></i>
                    <span class="title">Orders</span>
                </a>
                <span class="tooltip">Orders</span>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-person-fill"></i>
                    <span class="title">Profile</span>
                </a>
                <span class="tooltip">Profile</span>
            </li>

        </ul>

    }

    @if (User.IsInRole("Admin"))
    {
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class="bi bi-plus-circle"></i>
                    <span class="title">Manage Resturants</span>
                </a>
                <span class="tooltip">Manage Resturants</span>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-person"></i>
                    <span class="title">Customer Info</span>
                </a>
                <span class="tooltip">Customer Info</span>
            </li>

            <li>
                <a href="#">
                    <i class="bi bi-percent"></i>
                    <span class="title">Discounts</span>
                </a>
                <span class="tooltip">Discounts</span>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-star"></i>
                    <span class="title">Reviews</span>
                </a>
                <span class="tooltip">Reviews</span>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-person"></i>
                    <span class="title">Profile</span>
                </a>
                <span class="tooltip">Profile</span>
            </li>

        </ul>

    }




</section>




 