@model IEnumerable<OrderFood.DAL.Entities.Models.Order>


<form id="order-filter-form" class="d-flex flex-rows justify-content-center flex-wrap m-2">
    <div class="col-4 me-2">
        <input type="text" name="searchTerm" class="form-control" placeholder="Search by restaurant name" />
    </div>
    <div class="col-2 me-2">
        <select name="selectedStatus" class="form-select">
            <option value="">
                All
            </option>
            <option value="Pending">
                Pending
            </option>
            <option value="Preparing">
                Preparing
            </option>
            <option value="Prepared">
                Prepared
            </option>           
            <option value="Shipping">
                Shipping
            </option>
            <option value="Completed">
                Completed
            </option>
            <option value="Cancelled">
                Cancelled
            </option>
        </select>
    </div>

    <div class="col-2">
        <input type="submit" class="btn btn-warning "  value="Search"/>
    </div>

</form>