
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="get" asp-area="" asp-action="" asp-controller="" class="row g-3 mb-4">
    <div class="col-md-3">
        <input type="text" name="search" class="form-control" placeholder="Search by date" />
    </div>
    <div class="col-md-3">
        <select name="status" class="form-select">
            <option value="">
                All
            </option>
            <option value="Pending">
                Pending
            </option>
            <option value="Preparing">
                Preparing
            </option>
            <option value="Shipping">
                Shipping
            </option>
            <option value="Completed">
                Completed
            </option>
            <option value="Cancelled">
                Cancelled
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <input type="submit" class="btn btn-warning "  value="Search"/>
    </div>

</form>