<section style="background-color: #eee; min-height:100vh;">
    <div class="container py-5">
        <div class="row justify-content-center mb-3">
            <div class="row row-cols-1 row-cols-md-2 g-3">

                <!-- Card 1 -->
                <div class="col">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row align-items-stretch justify-content-between gap-3 w-100">
                                <!-- Product Image -->
                                <div class="col-lg-3">
                                    <div class="bg-image hover-zoom ripple rounded rounded-4 ripple-surface">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp" class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="flex-grow-1">
                                    <h5>Quant trident shirts</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>310</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>100% cotton</span>
                                        <span class="text-primary"> • </span>
                                        <span>Light weight</span>
                                        <span class="text-primary"> • </span>
                                        <span>Best finish<br /></span>
                                    </div>
                                    <div class="mb-2 text-muted small">
                                        <span>Unique design</span>
                                        <span class="text-primary"> • </span>
                                        <span>For men</span>
                                        <span class="text-primary"> • </span>
                                        <span>Casual<br /></span>
                                    </div>
                                </div>
                                <!-- Price & Shipping -->
                                <div class="text-end text-lg-start">
                                    <div class="d-flex flex-column align-items-lg-start">
                                        <div class="d-flex align-items-center mb-2">
                                            <h4 class="mb-0 me-2">$13.99</h4>
                                            <button class="p-2 bg-danger rounded-circle border-0 text-light"><i class="bi bi-trash"></i></button>
                                        </div>
                                        <h6 class="text-success mb-3">Free shipping</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Bio / Description -->
                            <div class="mt-3">
                                <p>There are many variations of passages of Lorem Ipsum available...</p>
                            </div>
                            <!-- Buttons -->
                            <div class="d-flex justify-content-end mt-3">
                                <div class="d-flex flex-column flex-sm-row gap-2">
                                    <button class="btn btn-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-eye"></i><span>Quick View </span></button>
                                    <button class="btn btn-outline-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-cart-check"></i>Add to Cartt</button>
                                </div>
                            </div>
                        </div>
                    </div>
               
                </div>

                <!-- Card 1 -->
                <div class="col">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row align-items-stretch justify-content-between gap-3 w-100">
                                <!-- Product Image -->
                                <div class="col-lg-3">
                                    <div class="bg-image hover-zoom ripple rounded rounded-4 ripple-surface">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp" class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="flex-grow-1">
                                    <h5>Quant trident shirts</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>310</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>100% cotton</span>
                                        <span class="text-primary"> • </span>
                                        <span>Light weight</span>
                                        <span class="text-primary"> • </span>
                                        <span>Best finish<br /></span>
                                    </div>
                                    <div class="mb-2 text-muted small">
                                        <span>Unique design</span>
                                        <span class="text-primary"> • </span>
                                        <span>For men</span>
                                        <span class="text-primary"> • </span>
                                        <span>Casual<br /></span>
                                    </div>
                                </div>
                                <!-- Price & Shipping -->
                                <div class="text-end text-lg-start">
                                    <div class="d-flex flex-column align-items-lg-start">
                                        <div class="d-flex align-items-center mb-2">
                                            <h4 class="mb-0 me-2">$13.99</h4>
                                            <button class="p-2 bg-danger rounded-circle border-0 text-light"><i class="bi bi-trash"></i></button>
                                        </div>
                                        <h6 class="text-success mb-3">Free shipping</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Bio / Description -->
                            <div class="mt-3">
                                <p>There are many variations of passages of Lorem Ipsum available...</p>
                            </div>
                            <!-- Buttons -->
                            <div class="d-flex justify-content-end mt-3">
                                <div class="d-flex flex-column flex-sm-row gap-2">
                                   <button class="btn btn-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-eye"></i><span>Quick View </span></button>
                                    <button class="btn btn-outline-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-cart-check"></i>Add to Cartt</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



                
                <!-- Card 1 -->
                <div class="col">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row align-items-stretch justify-content-between gap-3 w-100">
                                <!-- Product Image -->
                                <div class="col-lg-3">
                                    <div class="bg-image hover-zoom ripple rounded rounded-4 ripple-surface">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp" class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="flex-grow-1">
                                    <h5>Quant trident shirts</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>310</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>100% cotton</span>
                                        <span class="text-primary"> • </span>
                                        <span>Light weight</span>
                                        <span class="text-primary"> • </span>
                                        <span>Best finish<br /></span>
                                    </div>
                                    <div class="mb-2 text-muted small">
                                        <span>Unique design</span>
                                        <span class="text-primary"> • </span>
                                        <span>For men</span>
                                        <span class="text-primary"> • </span>
                                        <span>Casual<br /></span>
                                    </div>
                                </div>
                                <!-- Price & Shipping -->
                                <div class="text-end text-lg-start">
                                    <div class="d-flex flex-column align-items-lg-start">
                                        <div class="d-flex align-items-center mb-2">
                                            <h4 class="mb-0 me-2">$13.99</h4>
                                            <button class="p-2 bg-danger rounded-circle border-0 text-light"><i class="bi bi-trash"></i></button>
                                        </div>
                                        <h6 class="text-success mb-3">Free shipping</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Bio / Description -->
                            <div class="mt-3">
                                <p>There are many variations of passages of Lorem Ipsum available...</p>
                            </div>
                            <!-- Buttons -->
                            <div class="d-flex justify-content-end mt-3">
                                <div class="d-flex flex-column flex-sm-row gap-2">
                                   <button class="btn btn-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-eye"></i><span>Quick View </span></button>
                                    <button class="btn btn-outline-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-cart-check"></i>Add to Cartt</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




                <!-- Card 1 -->
                <div class="col">
                    <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                            <div class="d-flex flex-column flex-lg-row align-items-stretch justify-content-between gap-3 w-100">
                                <!-- Product Image -->
                                <div class="col-lg-3">
                                    <div class="bg-image hover-zoom ripple rounded rounded-4 ripple-surface">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp" class="w-100" />
                                        <a href="#!">
                                            <div class="hover-overlay">
                                                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- Product Description -->
                                <div class="flex-grow-1">
                                    <h5>Quant trident shirts</h5>
                                    <div class="d-flex flex-row">
                                        <div class="text-danger mb-1 me-2">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <span>310</span>
                                    </div>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>100% cotton</span>
                                        <span class="text-primary"> • </span>
                                        <span>Light weight</span>
                                        <span class="text-primary"> • </span>
                                        <span>Best finish<br /></span>
                                    </div>
                                    <div class="mb-2 text-muted small">
                                        <span>Unique design</span>
                                        <span class="text-primary"> • </span>
                                        <span>For men</span>
                                        <span class="text-primary"> • </span>
                                        <span>Casual<br /></span>
                                    </div>
                                </div>
                                <!-- Price & Shipping -->
                                <div class="text-end text-lg-start">
                                    <div class="d-flex flex-column align-items-lg-start">
                                        <div class="d-flex align-items-center mb-2">
                                            <h4 class="mb-0 me-2">$13.99</h4>
                                            <button class="p-2 bg-danger rounded-circle border-0 text-light"><i class="bi bi-trash"></i></button>
                                        </div>
                                        <h6 class="text-success mb-3">Free shipping</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Bio / Description -->
                            <div class="mt-3">
                                <p>There are many variations of passages of Lorem Ipsum available...</p>
                            </div>
                            <!-- Buttons -->
                            <div class="d-flex justify-content-end mt-3">
                                <div class="d-flex flex-column flex-sm-row gap-2">
                                   <button class="btn btn-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-eye"></i><span>Quick View </span></button>
                                    <button class="btn btn-outline-primary btn-sm d-flex gap-2" type="button"><i class="bi bi-cart-check"></i>Add to Cartt</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
